.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #46414194;
}

.content {
    position: relative;
    padding: 16px 20px;
    background-color: #72c8ba;
    border-radius: 6px;
}
