.table {
    padding: 8px;
    background-color: white;
    border-radius: 4px;
}

.addbutton {
    display: block;
    margin-left: auto;
    padding: 8px 12px;
    max-width: 34px;
    font-size: 16px;
    color: #a45139;
    background: initial;
    border: initial;
    border-radius: 4px;

    &:hover {
        background-color: #f0f8ff38;
    }
}