.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header,
.headerItem {
    &::first-letter {
        text-transform: uppercase;
        color: #a45139;
    }
}

.headerItem {
    display: inline-block;
}

.logoutButton {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #cb6245;
    border-radius: 5px;
    border: initial;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #a45139;
    }
}
